<div class="container mt-5 text-center">
  <h1>SELAMAT DATANG DI KAFE PAW!</h1>
  <p>klik link buat milih menu</p>
  <a
    href="/"
    class="btn btn-primary"
    style="background-color: #cfab8d; border-color: #cfab8d"
    >Home</a
  >
  <a
    href="/book-view"
    class="btn btn-primary"
    style="background-color: #cfab8d; border-color: #cfab8d"
    >MENU</a
  >
  <a
    href="/about"
    class="btn btn-primary"
    style="background-color: #cfab8d; border-color: #cfab8d"
    >About</a
  >
</div>
